h1{
    font-family: Arial, sans-serif;
    padding-left: 200px;
}

.fancy-text {
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
  }

body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ddd;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover{
    background: #4fa352;
}

.hidden { 
    display: none; 
}

.copy-confirmation {
    color: #007bff;
    margin-left: 10px;
}

#short-url-container {
    margin: 20px 0;
}

.copy-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.copy-button:hover {
    background: #0056b3;
}
